.search-form {
  width: 100%;
  padding: 16px;
  text-align: center;
  font-size: 28px;
}

.search-input {
  padding: 32px;
  width: 512px;
}

.search-button {
  font-size: 32px;
  background: lightgrey;
}

.page-nav-container {
  padding:32px;
  text-align: right;
}

.page-nav-button {
  font-size: 28px;
  margin-left: 16px;
  margin-right: 16px;
}

.no-results {
  width: 100%;
  padding: 16px;
  text-align: center;
  font-size: 32px;
}

.tweet-card {
  margin-left: 64px;
  margin-right: 64px;
}

.tweet-text {
  font-size: 24px;
}
